/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Breadcrumbs styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */

.ulpgcds-breadcrumb{    
    margin:$layout-xs 0 $layout-xs 0; 
    padding:0;
    font-family:$font-1;
    font-weight:$medium;
    ol,ul{
        margin:0;
        padding:0;
        li,.ulpgcds-breadcrumb__item{            
            font-size:$font-small;    
            font-family:$font-1;
            font-weight:$medium;
            color:$color-gray;
            display:block;
            float:left;
            position:relative;
            line-height:$line-height-xs;            
            a{
                font-family: $font-1; 
                font-weight:$medium;
                line-height:$line-height-xxs; 
            }
            &:before {                     
                @extend .icon;
                content: "\e910";
                color:$color-orange;
                margin-right:4px;
                margin-left:4px;
            }
            &:first-child{
                font-weight:$medium;                
            }
            &:first-child:before{
                content:none;
            }            
            a{
                font-weight:$regular;
            }            
            &:last-child{
                a{
                    font-weight: $medium;
                }
            }
            &:first-child{
                a{
                    font-weight: $bold;
                }
            }
            &.ulpgcds-breadcrumb__submenu{
                cursor:pointer;
                span{
                    margin-right:0;
                    
                }
                ul{
                    display:none;
                    position: absolute;
                    top:16px;
                    min-width:200px;
                    background:$color-gray-10;
                    box-shadow: 0 1px 2px 0 $color-gray;                    
                    li{
                        float:none;
                        display:block;
                        padding: 8px 12px;
                        a{
                            font-weight:$regular;
                        }
                        &:before{
                            content:none;
                        }
                        &:last-child{
                            display:none;
                        }
                    }
                }
                &:hover{
                    ul{
                        display:block;
                    }
                }
            }
        }
    }
    .ulpgcds-breadcrumb-label{
        @extend .visually-hidden;
    }
    @include mq('m-screen'){                
        margin:$layout-xxs 0 $layout-xxs 0;
        ok,ul{            
            li{
                line-height:$line-height-xxs;
            }
        }
    }   
}


