/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Dropdowns styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */
%select-arrow{
    @extend %icon;
    content: $icon-caret-down;            
    position: absolute;
    top: 36px;
    font-size:1rem;
    color:$color-blue;
    right: $spacing-xxs;
    cursor: pointer;
    pointer-events: none;
    z-index:1;
    @include transition(all $animation-time $animation-type);  
}
.hamb{
        
        .nav-toggle {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 12px;
          margin: 0;
          @include transform(rotate(0deg));
          @include transition(.5s ease-in-out);          
          cursor: pointer;
          &:hover {
              border-bottom: none;
          }
        }

        .nav-toggle span {
          display: block;
          position: absolute;
          height: 2px;
          width: 24px;
          background: $background-color;
          border-radius: 9px;
          opacity: 1;
          right: 0;
          @include transform(rotate(0deg));
          @include transition(.25s ease-in-out);          
        }
        
        .nav-toggle.open span {
            background: $primary-color;
        }

        .nav-toggle span:nth-child(1) {
          top: 0px;
          width: 24px;
        }
        
        .nav-toggle span:nth-child(2), .nav-toggle span:nth-child(3) {
            top: 8px;
            width: 18px;
        }

        .nav-toggle span:nth-child(4) {
          top: 16px;
          width: 24px;
        }

        .nav-toggle.open span:nth-child(1) {
          top: 14px;
          width: 0%;
          left: 50%;
        }

        .nav-toggle.open span:nth-child(2) {     
          width: 24px;
          @include transform(rotate(45deg));
        }

        .nav-toggle.open span:nth-child(3) {       
          width: 24px;
          @include transform(rotate(-45deg));
        }

        .nav-toggle.open span:nth-child(4) {
          top: 14px;
          width: 0%;
          left: 50%;
        }
}

.ulpgcds-form{
    &__item{
        &--type-select{
            position: relative;        
            width: $min-width-input;                    

            select {
                @extend %select;
                ~ .chosen-container-multi {

                    .chosen-choices{     
                        li{                                                       
                            &.search-choice{
                                margin-left:$spacing-s;
                                margin-top:$layout-xxs;
                                margin-right:0;
                            }
                        }
                    }
                    &.chosen-disabled{
                        .chosen-choices{     
                            li{                                                       
                                &.search-choice{
                                    background:$color-gray-20;
                                    a{
                                        &:before, &:hover:before{
                                            color:$color-gray; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
               &.ulpgcds-form__item--icon{
                    padding-left:$spacing-xxl; 
                    font-family:$font-2;
                    
                    ~ [class*="icon-"]{
                        position: relative;
                        top: -28px;
                        left: 12px;
                        display: block;
                        margin-bottom: -16px;
                        width:16px;
                    } 
                    ~ .chosen-container-multi {
                        
                        .chosen-choices{     
                            li{                                
                                input[type="text"]{
                                    padding-left:$spacing-xxl;
                                    min-width:auto !important;
                                }
                                &.search-choice{
                                    margin-left:$spacing-xxl;
                                    + .search-field input{
                                        padding-left:0 !important;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
            label:after, label.element-invisible + [class*='date-']:after{
                @extend %select-arrow;            
            }
            label.element-invisible + [class*='date-']:after{
                top:8px;  
            }
            /* Transition */
            &:hover{
                border-color:$color-orange;
                &:after {
                    color: $color-orange;
                }
            }
            .help-text{
                padding-top:$spacing-xxs;
                font-size:$font-small;
            }    
            
        }
        .chosen-container-multi .chosen-choices{                         
            @extend .no-list-bullets;     
            font-family:$font-2;
            font-size:$font-size-xs;
            line-height:$line-height-xs;
            font-weight:$regular;
            outline: 0;
            box-shadow: none;
            border: 0;                    
            cursor: pointer;
            width: $min-width-input;
            color: $color-gray;
            height: 40px;            
            min-width:$min-width-input;            
            background: $color-gray-5;
            border: none;
            border-bottom: solid $color-blue 2px;
            padding: 8px 24px 8px 12px;
            box-sizing: border-box; 
            height:auto;
            min-height:40px;
            .search-field{
                input[type="text"]{
                    min-width:auto !important;
                }
            }
        }
        .chosen-container-multi .chosen-choices li.search-choice{
            @extend %tag;
            @include border-radius(14px);
            box-shadow:none;
            .search-choice-close{
                @extend %tag-close;
                margin-left:$layout-xxs;
            }
        }
        .chosen-container.chosen-with-drop .chosen-drop{ 
            background-color:$color-gray-10;
            box-shadow: 0 1px 2px 0 $color-gray;
            border:0;
            font-family:$font-2;
            font-size:$font-size-xs;
            line-height:$line-height-xs;           
        }
        .chosen-results{                
            margin:0;
            padding:0;
            li{
                padding:$spacing-xxs $spacing-s;
                font-size:$font-size-xs;
                line-height:$line-height-xs;
                &:hover{
                    background:$color-orange !important; 
                }
            }
        }
        
    }
}

%select{
    @include appearance(none);  
    font-family:$font-2;
    font-size:$font-size-xs;
    line-height:$line-height-xs;
    font-weight:$regular;
    outline: 0;
    box-shadow: none;
    border: 0;                    
    cursor: pointer;
    width: $min-width-input;
    color: $color-gray;
    height: 40px;            
    min-width:$min-width-input;            
    background: $color-gray-5;
    border: none;
    border-bottom: solid $color-blue 2px;
    //padding: 8px 40px 8px 12px;
    padding: $spacing-xxs $spacing-xxl $spacing-xxs $spacing-s;
    box-sizing: border-box; 
    &:hover{
        border-color:$color-orange;
    }
    @include border-radius(0);
    &::-ms-expand {
        display: none;
    }
    &.filled{
        background:$color-blue-10;
    }
    &:focus, &:active{
        border-right:1px solid $color-orange-dark;
        border-top:1px solid $color-orange-dark;
        border-left:1px solid $color-orange-dark;
        border-bottom-color:$color-orange;
    }
}
