/* ------------------------------- ateigh.com ------------------------------- 
 *
 * formatted and unformetted lists styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */
.ulpgcds-list, main ul{ 
    list-style:none;
    font-size:$font-body-base;
    font-family:$font-2;
    padding-left: $spacing-l; 
    li, .ulpgcds-list__item{        
        line-height: $line-height-l;
        padding-bottom:$spacing-s;
        position:relative;
        display:block;
        &:before{
            content: none;
        }
        &:after,.ulpgcds-list__item__bullet{
            /* @include pseudo;
            content: "\2022";
            position: absolute;
            top: 0;
            left:-16px;
            font-size:$font-size-l;            
            color:$color-blue;            
            */
            background-color: $color-blue;
            @include border-radius(50%);
            content: "";
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 2px;
            height: 6px;
            width: 6px;
            position:absolute;
            top:14px;
            left:-16px;
        }
        a{
            font-weight:$bold;
            text-decoration:underline;
            position:relative; 
            display:inline-block;
            &[href*=".pdf"],&[href*=".doc"],&[href*=".docx"],&[href*=".xls"],&[href*=".xlsx"]
            ,&[href*=".zip"]{     
                margin-right:$layout-s;
                &:before{
                  @extend .icon; 
                  @extend .ulpgcds-icon-file; 
                  position:absolute;
                  right:-24px;
                  top:4px;
                  margin-right:0;
                }
            }
            &[target*="_blank"]{
                margin-right:$layout-s;
               &:before{
                  @extend %icon; 
                  @extend .ulpgcds-icon-exterior; 
                  position:absolute;
                  right:-24px;
                  top:4px;
                  margin-right:0;
                } 
            }
            &:visited {
                color: $color-blue-dark;
                &:hover{
                    color:$color-orange;
                }
              }
        }
        ul{
            padding-left: $spacing-l;             
            list-style-type:none;            
            margin-top:$layout-xs;
            li{
                &:after{                    
                    background: none;
                    border: 1px solid $color-blue;
                    @include border-radius(50%);
                    content: "";
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 2px;
                    height: 6px;
                    width: 6px;
                    position:absolute; 
                    top:14px;
                    left:-16px;
                }
                ul{                                                        
                    list-style-type:none;
                    li{
                        &:after{                        
                            background-color: $color-blue;
                            @include border-radius(0);
                            content: "";
                            display: inline-block;
                            margin-right: 10px;
                            margin-bottom: 2px;
                            height: 6px;
                            width: 6px;
                            position:absolute;
                            top:14px;
                            left:-16px;
                        }
                    }
                }
            }
        }
        
    }
    + p{
        margin-top:$layout-l;
    }
    @include mq('m-screen',max){        
        font-size:$font-body-base-s;
        line-height:$line-height-m;
        li{ 
            line-height: $line-height-m;
        } 
    }
}

nav ul, .no-list-bullets, .ulpgcds-carrusel, .slick-dots{
    list-style:none;
    padding-left:0;
    li{
        padding-left:0;        
        &:after{
            content:"";
            display:none;
            background:none;
            @include border-radius(0);
        }
        ul{
            padding-left:0;
            margin-top:0;
            li{
                &:after{
                    content:"";
                    display:none;
                }
            }
        }
    }
}

ol.ulpgcds-list, main ol, .ulpgcds-list--ordered{    
    font-size:$font-body-base;
    font-family:$font-2;
    padding-left:$spacing-l;
    list-style-type:decimal;
    li{
        padding-left: $spacing-xxs; 
        line-height: $spacing-l;            
        padding-bottom:$spacing-s;
        display:list-item;
        a{
            font-weight:$bold;
            text-decoration:underline;
        }
        &:before{
            content: none;
        }
        &:after{
            content:none;
        }
    }
    @include mq('m-screen',max){        
        font-size:$font-body-base-s;
        line-height:$line-height-m;
        li{
            line-height: $line-height-m;
        }
    }
}

@media speech{
    ul.ulpgcds-list, main ul{
        li{
            &:before,&:after{
                display: none;
                visibility: hidden;
            }
        }
    }
}