/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Form styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */

.ulpgcds-form{
    margin:0;
    padding:0;
    &--item{
        margin-top:1em;
        margin-bottom:1em;
        label{
            display:block;
            text-align:left; 
        }
    }
    
    &--search{
        display: block;
        width: 650px;
        margin: 0 auto;
        position:relative;
        label{
            display:block;
            clip:none;
            height:auto;   
            width:auto;
            position:relative;
        }
        &__item{
            position:relative;
            input:focus{
                border:0;
                background-color:$color-gray-5;
            }
            &--submit{     
                width: 40px;
                height: 40px;
                position: absolute;
                right: 102px;
                bottom: 0px;
                &:before{
                        @include pseudo;
                        @extend .icon;
                        content: $icon-search;
                        right:-8px;
                        bottom:12px;
                        color:$color-blue;
                        font-size:$font-size-m;
                        z-index:99;
                        pointer-events: none;
                    }
                &:hover{                    
                    input{                        
                        color:$color-orange;
                        border-color:$color-orange;
                        background:$color-white
                    }
                    &:before{
                        color:$color-orange;
                    }
                }    
                &:before{
                    &:hover{
                        color:$color-orange;                        
                        border-color:$color-orange;
                    }
                }
                
            }
        }
        input{
            &[type="text"],&[type="search"]{ 
                border-radius:$radius;
                padding-right:150px;
                width:100%; 
                border-color:$color-gray-5;
                border-bottom:0;    
                border:1px solid $color-gray-20;
                &:hover{                                        
                    border:1px solid $color-orange;
                }
                &:focus, &:active{                                                         
                    border:1px solid $color-orange-dark;
                    background:$color-white;
                }
            }
            &[type="submit"]{
                cursor:pointer;
                background:$color-white;
                color:$color-blue;
                font-size:$font-size-m;
                position:absolute;
                bottom:0px;
                right:-102px;
                width:140px;
                height:40px;
                z-index:9;
                margin:0;
                padding:0;
                padding-left:20px;
                border-color:$color-blue;
                border:2px solid;
                @include border-radii(0, $radius, $radius, 0);  
                &:hover{
                    background:none;
                    border-color:$color-orange;
                    color:$color-orange;
                }
            }
        } 
        @include mq('m-screen',max){    
            width:100%;
            input{                
                &[type="text"],&[type="search"]{
                    padding-right:$spacing-xl;
                }
            }            
        }
        &--reverse{
            input{                
                &[type="text"],&[type="search"]{
                    background:$color-white;                    
                    
                }
                &[type="submit"]{
                    background:$color-blue;
                    color:$color-white;
                    border-color:$color-white;  
                    top:0;
                    height:40px;
                    &:hover{
                        background:$color-blue;
                        color:$color-orange; 
                        border-color:$color-orange;
                    }            
                    
                }
            }
            label{
                color:$color-white;
            }
            .ulpgcds-form--search__item--submit{
                &:before{
                        color:$color-white;
                    }
                &:hover{                
                    &:before{                        
                        border-color:$color-orange;
                        color:$color-orange;                       
                    }
                }
            }
        }
        &--reverse .form-submit{            
            &:before{                        
                color:$color-white;                        
            }            
        }
       
        @include mq('m-screen',max){
            width:100%;
            input{
                    &[type="text"],&[type="search"]{                             
                       padding-right:48px;
                    }
                } 
            .ulpgcds-form--search__item{    
                   
                &--submit{
                    right:0;
                    bottom:0;
                    &:before{
                        width: 20px;
                        margin-right: 10px;
                        right: 0;
                        bottom: 12px;
                        &:hover{
                            color:$color-orange;
                        }
                    }
                    input{
                        font-size:0;
                        width:40px;
                        min-width:40px;
                        right:0;
                        bottom:0px;
                         &[type="text"],&[type="search"]{                             
                            padding-right:48px;
                         }
                         &:hover{
                             border-color:$color-orange;
                             color:$color-orange;
                         }
                    }                    
                }
            }
        }
    }
    
}