/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Sidebars styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */


.sidebar-left{
    width:25%;
    padding-right:$grid-gutter;
    float:left;
    @extend .no-list-bullets;
    clear:both;    
    ul{
        list-style:none;        
        padding-left:0;
        &.menu{
            list-style-type:none;
            li{
                font-family: $font-1;
                font-weight: $medium;
                font-size:$font-size-s;
                line-height:$line-height-m;
                color:$color-gray;
                margin:0;
                list-style:none;
                width:100%; 
                list-style-image: none;
                a{
                    padding:$spacing-s $spacing-m $spacing-s $spacing-m;  
                    background:$color-gray-5;
                    line-height:$line-height-m;
                    font-weight:$medium;
                    font-family:$font-1;
                    font-size:$font-size-m;
                    color:$color-gray; 
                    display:block;
                }
                span{
                    &.nolink{
                        color:$color-gray;
                        border-bottom:2px solid $color-orange;  
                        margin-bottom:0;
                        margin:0;
                        display:block;
                        line-height:$line-height-m;
                        padding-bottom:$spacing-xs;
                        font-size:$font-size-m;
                    }
                } 
                &.active{
                    a{
                        border-left:2px solid $color-orange;
                        color:$color-blue;
                    }
                }
                ul{
                    li{                            
                        line-height:$line-height-m;                        
                        background:$color-gray-5;
                        margin:0;
                        padding:0;
                        a{
                            background:$color-gray-5;
                            margin:0;
                            padding:$spacing-s $spacing-m $spacing-s $spacing-m;    
                            width:100%;
                            display:block;
                            text-decoration:none;
                            font-size:$font-size-s;                            
                            &:hover{
                                background:$color-orange-10;
                                color:$color-blue;
                            }                                
                        }
                        &.active{
                            a{
                                border-left:2px solid $color-orange;
                                color:$color-blue;
                            }
                        }
                    }
                }
            }
        }        
    }
    h2{
        font-size:$font-size-m;
    }
    @include mq('m-screen'){
        width:100%;
        padding-right:0;
    }
}