/* ------------------------------- ateigh.com ------------------------------- 
 *
 * base & general styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */
html, body {
  @include box-sizing;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include box-sizing;
}     
img {
    width: auto;
    max-width: 100%;
    height: auto; 
}    
.wrapper {
    width: 100%;
    margin: 0 auto;
    
}
 
.hidden, .hidden-desktop{
    display:none;
} 
.hidden-desktop{
    display:none;
    @include mq('m-screen',max){
        display:block;
    }
} 
.hidden-mobile{
    @include mq('m-screen',max){
        display:none;
    }
}     

.wrapper{
    @include mq('m-screen',min){
        padding-left:$grid-gutter/2;
        padding-right:$grid-gutter/2;
    }
    @include mq('m-screen',max){
        padding-left:$grid-gutter-s/2;
        padding-right:$grid-gutter-s/2; 
    }
}
.visually-hidden{
    @include visually-hidden;
    color:$color-gray;
}
  
.centered-text{
    text-align:center;
    .btn-primary, h2{
        margin:inherit auto;
    }
}
      
pre{
    white-space: pre-wrap;
    margin:1rem 0;
    word-break: break-all;
}
a::selection{
    background:rgba($color-blue, 0.2);
}
:not(a)::selection{
    background:rgba($color-orange, 0.8);    
}
p{
    &:empty{
        margin:0;
        padding:0;
    }
}
.clearer{
    clear:both;
}    
.clearfix{
    &:after{
        content: " ";
    }
}
blockquote{
    margin:$layout-m 0 $layout-m $layout-xxxxl;
    padding-left:$spacing-l;
    border-left:4px solid $color-gray;
    p{
        padding-bottom:0;
        &:first-child{
            font-weight:bold;
            
        }        
    }
    @include mq('m-screen'){
        margin-left:$layout-l;
    }
}
p + blockquote{
    margin-top:0;
}