/* ------------------------------- ateigh.com ------------------------------- 
 *
 * colors for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */
.color-blue{
    color:$color-blue;
}
.color-blue-10{
    color:$color-blue-10;
}
.color-blue-50{
    color:$color-blue-50;
}
.color-blue-80{
    color:$color-blue-80;
}
.color-blue-dark{
    color:$color-blue-dark;
}
.color-gray{
    color:$color-gray;
}
.color-gray-10{
    color:$color-gray-10;
}
.color-gray-20{
    color:$color-gray-20;
}
.color-gray-5{
    color:$color-gray-5;
}
.color-gray-50{
    color:$color-gray-50;
}
.color-gray-80{
    color:$color-gray-80;
}
.color-gray-dark{
    color:$color-gray-dark;
}
.color-orange{
    color:$color-orange;  
}
.color-orange-10{
    color:$color-orange-10;
}
.color-orange-50{
    color:$color-orange-50;
}
.color-orange-80{
    color:$color-orange-80;
}
.color-orange-dark{ 
    color:$color-orange-dark;
}
.color-red{
    color:$color-red;
}
.color-red-10{
    color:$color-red-10;
}
.color-blanco{
    color:$color-white;
}
.color-green{
    color:$color-green;
}
.color-green-10{
    color:$color-green-10;
}