/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Typografy and texts styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */
html{
    font-size:16px;
}

// default body appearance
body {
    font-family: $font-2;
    font-weight: $regular;
    font-size:$font-size-s;
    line-height:$line-height-m;
    text-rendering: optimizeLegibility;      
    -webkit-text-size-adjust: 100%;  //fix for iOS
    color:$text-color;
    background:$background-color;
} 
  
// default titles

.title-xxxl{    
    font-family:$font-1;
    font-weight: $bold;   
    font-size: $font-size-xxxl;
    line-height:$line-height-xxxl; 
    text-align: left;
    clear:both;
}

h1,.title-xxl {
    font-family:$font-1;
    font-weight: $bold;   
    font-size: $font-size-xxl;
    line-height:$line-height-xxl;
    color:$color-blue;
    margin:0 0 $layout-xl 0;  
    position:relative;
    text-align:left;
    clear:both;
    &.page-title{
        position:relative;
        &:after{
            @include pseudo;
            @extend %divider;
        }
    }
    @include mq('l-screen',max){
        font-size:2.5rem;
        line-height:3rem;
        margin:0 0 $layout-s 0;         
        &:after{
            bottom:-8px;
        }
    }
    @include mq('s-screen',max){
        font-size:2rem;
        line-height:2.5rem;
        &:after{
            bottom:0px;
        }
    }
}

h2, .title-xl{
    color:$color-blue;
    text-align:left;
    font-family:$font-1;
    font-weight: $medium;
    font-size:1.75rem;
    line-height:2.25rem;
    margin-top:$layout-xxs;
    clear:both;
    @include mq('m-screen',max){
        font-size:1.375rem;
        line-height:2rem;
        
    margin-top:$layout-xxs;
    }
    @include mq('xs-screen',max){        
    }
    
}
h2 + p, .title-xl + p{    
    margin:$layout-xxs 0 0 0; 
    padding-bottom:$spacing-xl;
    &.subtitle-l{
        margin:$layout-xxs 0 0 0;         
    }
}
h2 + ul{
    padding-top:$spacing-s;
}
h2 + div h3{
    margin:$layout-xxs 0 0 0; 
}
/* .title-xl{
    font-family:$font-1;
    font-weight: $bold;
    font-size:$font-size-xl;
    line-height:$line-height-xl;
    color:$color-blue;
    text-align:left;
}*/
h3,.title-l{
    font-weight: $medium;  
    font-family:$font-1;
    font-size:$font-size-l;
    line-height:$line-height-l;
    text-align:left;
    @include mq('l-screen',max){
        font-size:1.125rem;
    }
    @include mq('xs-screen',max){
        font-size:1rem;
    }    
}
h4,.title-m{
    font-weight: $medium;  
    font-family:$font-1;
    font-size:$font-size-m;
    line-height:$line-height-m;
    @include mq('l-screen',max){
        font-size:1.125rem;
    }
    @include mq('xs-screen',max){
        font-size:1rem;
    }
}
h5,.title-s{
    font-family:$font-1;
    font-weight: $medium;  
    font-size:$font-size-s;    
    line-height:$line-height-s;
    @include mq('l-screen',max){
        font-size:1.125rem;
    }
    @include mq('xs-screen',max){
        font-size:1rem;
    }
}
h6,.title-xs{
    font-family:$font-1;
    font-weight: $medium;  
    font-size:$font-size-xs;    
    line-height:$line-height-xs;
    @include mq('l-screen',max){
        font-size:1.125rem;
    }
    @include mq('xs-screen',max){
        font-size:1rem;
    }
} 

.subtitle-xl{
    font-family:$font-1;
    font-weight: $medium;
    font-size:$font-size-xl;
    line-height:$line-height-xl;
    margin-top:$layout-xxs;
     padding-bottom:$spacing-xxl;
}
.subtitle-l{
    font-family:$font-1;
    font-weight: $medium;
    font-size:$font-size-l;
    line-height:$line-height-l;
    margin-top:$layout-xxs;
     //padding-bottom:$spacing-xxl;
     + p, + ul{
         margin-top:$layout-xs;
     }
}

h3.subtitle{
    font-family:$font-1;
    color:$color-blue;
    font-weight:$medium;
    font-size:$font-size-l;
}



p, .normal-text{
    font-family:$font-2;
    font-size:$font-size-m;
    line-height:$line-height-l;
    //padding-bottom: 0.765rem;   
    padding-bottom:$spacing-xl;
    @include mq('m-screen',max){        
        font-size:$font-body-base-s;
        line-height:$line-height-m;
        text-align:left;
    }
    + p, + ul, + h2, + h3{
       // margin-top:$layout-m;
    }
}
.large-text{
    font-family:$font-2;
    font-size:1.125rem;
    line-height:1.5rem;
}
.small-text{
    font-family:$font-1;
    font-size:0.75rem;
    line-height:1rem;
}

a{
    color:$link-color;  
    font-family:$font-2;
    @include transition(0.2s ease-in-out);
    &:hover{
        color: $link-color-hover;
    }
    &:focus{
        color: $link-color-focus;
    }
}
h2 a{
    font-family:$font-1;
}

button , input , textarea, select, label{
  font-family: $font-1;
  font-weight:$medium;
  outline: none;
  font-size:$font-size-s;
  line-height:$line-height-m;
  background:none;
}

/** Icomoon styles and fonts **/
@font-face {
  font-family: '#{$icomoon-font-family}'; 
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?20200427_02');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?20200427_02#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?20200427_02') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?20200427_02') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?20200427_02##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"], .icon , %icon, [class^="ulpgcds-icon-"], [class*=" ulpgcds-icon-"], .ulpgcds-icon , %ulpgcds-icon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin-right:8px;
}

.ulpgcds-icon--left{
    margin-right:8px;
}
.ulpgcds-icon--right{
    margin-left:8px;
    margin-right:0;
}


.ulpgcds-icon-folder, .icon-add-folder {
  &:before {
    content: $icon-add-folder; 
  }
}
.ulpgcds-icon-bell, .icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.ulpgcds-icon-comment, .icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.ulpgcds-icon-exit, .icon-exit {
  &:before {
    content: $icon-exit; 
  }
}
.ulpgcds-icon-eye, .icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.ulpgcds-icon-heart, .icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.ulpgcds-icon-papers, .icon-papers {
  &:before {
    content: $icon-papers; 
  }
}
.ulpgcds-icon-tools, .icon-tools {
  &:before {
    content: $icon-tools; 
  }
}
.ulpgcds-icon-research, .icon-research {
  &:before {
    content: $icon-research; 
  }
}
.ulpgcds-icon-moodle, .icon-moodle {
  &:before {
    content: $icon-moodle; 
  }
}
.ulpgcds-icon-hat, .icon-hat {
  &:before {
    content: $icon-hat; 
  }
}
.ulpgcds-icon-tick, .icon-tick {
  &:before {
    content: $icon-tick; 
  }
}
.ulpgcds-icon-teacher .icon-teacher {
  &:before {
    content: $icon-teacher; 
  }
}

.ulpgcds-icon-computer,.icon-computer   {
  &:before {
    content: $icon-computer; 
  }
}
.ulpgcds-icon-exterior,.icon-exterior   {
  &:before {
    content: $icon-exterior; 
  }
}
.ulpgcds-icon-fax,.icon-fax   {
  &:before {
    content: $icon-fax; 
  }
}
.ulpgcds-icon-list,.icon-list  {
  &:before {
    content: $icon-list; 
  }
}
.ulpgcds-icon-reload,.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.ulpgcds-icon-add-file,.icon-add-file {
  &:before {
    content: $icon-add-file; 
  }
}
.ulpgcds-icon-add-group,.icon-add-group {
  &:before {
    content: $icon-add-group; 
  }
}
.ulpgcds-icon-add-image,.icon-add-image {
  &:before {
    content: $icon-add-image; 
  }
}
.ulpgcds-icon-add-user,.icon-add-user {
  &:before {
    content: $icon-add-user; 
  }
}
.ulpgcds-icon-add,.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.ulpgcds-icon-alert,.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.ulpgcds-icon-arrow-down ,.icon-arrow-down{
  &:before {
    content: $icon-arrow-down; 
  }
}
.ulpgcds-icon-arrow-left,.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.ulpgcds-icon-arrow-right,.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.ulpgcds-icon-arrow-up,.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.ulpgcds-icon-audio,.icon-audio {
  &:before {
    content: $icon-audio; 
  }
}
.ulpgcds-icon-book,.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.ulpgcds-icon-calendar,.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.ulpgcds-icon-campus ,.icon-campus{
  &:before {
    content: $icon-campus; 
  }
}
.ulpgcds-icon-caret-down ,.icon-caret-down{
  &:before {
    content: $icon-caret-down; 
  }
}
.ulpgcds-icon-caret-left,.icon-caret-left {
  &:before {
    content: $icon-caret-left; 
  }
}
.ulpgcds-icon-caret-right ,.icon-caret-right{
  &:before {
    content: $icon-caret-right; 
  }
}
.ulpgcds-icon-caret-up,.icon-caret-up {
  &:before {
    content: $icon-caret-up; 
  }
}
.ulpgcds-icon-check,.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.ulpgcds-icon-chevron-down,.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.ulpgcds-icon-chevron-left,.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.ulpgcds-icon-chevron-right,.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.ulpgcds-icon-chevron-up ,.icon-chevron-up{
  &:before {
    content: $icon-chevron-up; 
  }
}
.ulpgcds-icon-clock,.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.ulpgcds-icon-close,.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.ulpgcds-icon-code ,.icon-code{
  &:before {
    content: $icon-code; 
  }
}
.ulpgcds-icon-dots,.icon-dots {
  &:before {
    content: $icon-dots; 
  }
}
.ulpgcds-icon-download,.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.ulpgcds-icon-edit,.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.ulpgcds-icon-envelope ,.icon-envelope{
  &:before {
    content: $icon-envelope; 
  }
}
.ulpgcds-icon-expand,.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.ulpgcds-icon-facebook,.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.ulpgcds-icon-file,.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.ulpgcds-icon-filter,.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.ulpgcds-icon-flickr,.icon-flickr {
  &:before {
    content: $icon-flickr; 
  }
}
.ulpgcds-icon-folder,.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.ulpgcds-icon-group,.icon-group {
  &:before {
    content: $icon-group; 
  }
}
.ulpgcds-icon-image,.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.ulpgcds-icon-info ,.icon-info{
  &:before {
    content: $icon-info; 
  }
}
.ulpgcds-icon-instagram ,.icon-instagram{
  &:before {
    content: $icon-instagram; 
  }
}
.ulpgcds-icon-less,.icon-less {
  &:before {
    content: $icon-less; 
  }
}
.ulpgcds-icon-linkedin,.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.ulpgcds-icon-lock,.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.ulpgcds-icon-menu,.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.ulpgcds-icon-miulpgc,.icon-miulpgc {
  &:before {
    content: $icon-miulpgc; 
  }
}
.ulpgcds-icon-more,.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.ulpgcds-icon-phone,.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.ulpgcds-icon-place,.icon-place {
  &:before {
    content: $icon-place; 
  }
}
.ulpgcds-icon-play,.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.ulpgcds-icon-power ,.icon-power{
  &:before {
    content: $icon-power; 
  }
}
.ulpgcds-icon-remove ,.icon-remove{
  &:before {
    content: $icon-remove; 
  }
}
.ulpgcds-icon-search,.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.ulpgcds-icon-sort,.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.ulpgcds-icon-thinker,.icon-thinker {
  &:before {
    content: $icon-thinker; 
  }
}
.ulpgcds-icon-twitter,.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.ulpgcds-icon-upload,.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.ulpgcds-icon-user ,.icon-user{
  &:before {
    content: $icon-user; 
  }
}
.ulpgcds-icon-whatsapp,.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.ulpgcds-icon-youtube,.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.ulpgcds-icon-ulpgc, .icon-ulpgc {
  &:before {
    content: $icon-ulpgc; 
  }
}